<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
  
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Swanky
Description: A three-column, fixed-width design suitable for news sites and blogs.
Version    : 1.0
Released   : 20080227

  -->
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Swanky by Free CSS Templates</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="style.css" rel="stylesheet" type="text/css" media="screen" />
  </head>
  <body>
    <!-- start header -->
    <div id="header">
      <div id="menu">
	<ul>
	  <li class="current_page_item"><a href="#">首页</a></li>
	  <li><a href="#">价格</a></li>
	  <li><a href="#">蔬菜</a></li>
	  <li><a href="#">水果</a></li>
	  <li><a href="#">禽肉</a></li>
	  <li><a href="#">水产</a></li>
	  <li class="last"><a href="#">联系我们</a></li>
	</ul>
      </div>
    </div>
    <div id="logo">
      <h1><a href="#">农产品资讯网</a></h1>
      <h2> Design by pengke</h2>
    </div>
    <!-- end header -->
    <hr />
    <!-- start page -->
    <div id="page">
      <!-- start content -->
      <div id="content">
	<div class="post">
	  <h1 class="title"><a href="#">太原市将常年推出4种一元钱蔬菜</a></h1>
	  <p class="meta"><small>2013-4-27<a href="#">地方新闻网站</a></small></p>
	  <div class="entry">
	    <p><strong>农资网 </strong> 今年，太原市物价局将在全市再增100家平价商店，并在省城各大超市、平价商店常年推出4种一元钱蔬菜。利用两年左右时间，争取实现在太原市大中型社区周围6平方公里内，至少有一家平价商店，最终形成覆盖城乡的平价商店网<a href="http://www.freecsstemplates.org/">详细</a></p>
	  </div>
	  <p class="links"><a href="#" class="comments">Comments (33)</a> &nbsp;&nbsp;&nbsp; <a href="#" class="permalink">Permalink</a></p>
	  <p class="tags"><strong>Tags:</strong> <a href="#">dolor</a> <a href="#">ipsum</a> <a href="#">lorem</a> <a href="#">sit amet</a> <a href="#">dolor</a> <a href="#">ipsum</a> <a href="#">lorem</a> <a href="#">sit amet</a></p>
	</div>
	<div class="post">
	  <h1 class="title"><a href="#">一季度大连蔬菜产量同比增长4.2%</a></h1>
	  <p class="meta"><small>2013-5-2<a href="#">大连新闻网</a></small></p>
	  <div class="entry">
	    <p>一季度，大连市蔬菜生产总体态势良好。据统计资料显示，一季度蔬菜种植面积达12.3万亩、产量约30万吨，同比分别增长21.8%和4.2%。其中，设施蔬菜生产规模扩大，播种面积增加至11.2万亩，同比增长20.5%;总产量达27.9万吨，同比增长4%。
	    </p>
	  </div>
	  <p class="links"><a href="#" class="comments">Comments (33)</a> &nbsp;&nbsp;&nbsp; <a href="#" class="permalink">Permalink</a></p>
	  <p class="tags"><strong>Tags:</strong> <a href="#">dolor</a> <a href="#">ipsum</a> <a href="#">lorem</a> <a href="#">sit amet</a> <a href="#">dolor</a> <a href="#">ipsum</a> <a href="#">lorem</a> <a href="#">sit amet</a></p>
	</div>	
	<div class="post">
	  <h1 class="title"><a href="#">最近更新蔬菜价格</a></h1>
	  <p class="meta"><small>2013-5-2<a href="#">石家庄西桥市场</a></small></p>
	  <div class="entry">
	    <table>
	      <tbody>
		<tr>
		  <!-- <th>图片</th> -->
		  <th>名称</th>
		  <!-- <th>市场</th> -->
		  <th>类别</th>
		  <th>最高价</th>
		  <th>最低价</th>
		  <th>单位</th>
		  <!-- <th>最近走势</th> -->
		</tr>
		<tr>
		  <!-- <td> -->
		  <!--   <img src=" /images/logo/长白菜.jpg"/> -->
		  <!-- </td> -->
		  <td>长白菜</td>
		  <!-- <td>石家庄桥西蔬菜中心批发市场</td> -->
		  <td>蔬菜</td>
		  <td>1.4</td>
		  <td>1.2</td>
		  <td>元/公斤</td>
		  <!-- <td> -->
	          <!--   <img src="/images/kline/长白菜.png " height="150" width="200"/> -->
		  <!-- </td> -->
		</tr>
		<tr>
		  <!-- <td> -->
		  <!--   <img src=" /images/logo/圆白菜.jpg"/> -->
		  <!-- </td> -->
		  <td>圆白菜</td>
		  <!-- <td>石家庄桥西蔬菜中心批发市场</td> -->
		  <td>蔬菜</td>
		  <td>1.4</td>
		  <td>1.3</td>
		  <td>元/公斤</td>
		  <!-- <td> -->
		  <!--   <img src="/images/kline/圆白菜.png " height="150" width="200"/> -->
		  <!-- </td> -->
		</tr>
		<tr>
		  <!-- <td> -->
		  <!--   <img src=" /images/logo/小白菜.jpg"/> -->
		  <!-- </td> -->
		  <td>小白菜</td>
		  <!-- <td>石家庄桥西蔬菜中心批发市场</td> -->
		  <td>蔬菜</td>
		  <td>2.6</td>
		  <td>2.0</td>
		  <td>元/公斤</td>
		  <!-- <td> -->
		  <!--   <img src="/images/kline/小白菜.png " height="150" width="200"/> -->
		  <!-- </td> -->
		</tr>
		<tr>
		  <!-- <td> -->
		  <!--   <img src=" /images/logo/洋白菜.jpg"/> -->
		  <!-- </td> -->
		  <td>洋白菜</td>
		  <!-- <td>石家庄桥西蔬菜中心批发市场</td> -->
		  <td>蔬菜</td>
		  <td>1.4</td>
		  <td>1.0</td>
		  <td>元/公斤</td>
		  <!-- <td> -->
		  <!--   <img src="/images/kline/洋白菜.png " height="150" width="200"/> -->
		  <!-- </td> -->
		</tr>
		<tr>
		  <!-- <td> -->
		  <!--   <img src=" /images/logo/甘兰.jpg"/> -->
		  <!-- </td> -->
		  <td>甘兰</td>
		  <!-- <td>石家庄桥西蔬菜中心批发市场</td> -->
		  <td>蔬菜</td>
		  <td>2.4</td>
		  <td>1.6</td>
		  <td>元/公斤</td>
		  <!-- <td> -->
		  <!--   <img src="/images/kline/甘兰.png " height="150" width="200"/> -->
		  <!-- </td> -->
		</tr>
		<tr>
		  <!-- <td> -->
		  <!--   <img src=" /images/logo/菠菜.jpg"/> -->
		  <!-- </td> -->
		  <td>菠菜</td>
		  <!-- <td>石家庄桥西蔬菜中心批发市场</td> -->
		  <td>蔬菜</td>
		  <td>2.4</td>
		  <td>1.4</td>
		  <td>元/公斤</td>
		  <!-- <td> -->
		  <!--   <img src="/images/kline/菠菜.png " height="150" width="200"/> -->
		  <!-- </td> -->
		</tr>                
	      </tbody>
	    </table>
	  </div>
	  <p class="links"><a href="#" class="comments">Comments (33)</a> &nbsp;&nbsp;&nbsp; <a href="#" class="permalink">Permalink</a></p>
	  <p class="tags"><strong>Tags:</strong> <a href="#">dolor</a> <a href="#">ipsum</a> <a href="#">lorem</a> <a href="#">sit amet</a> <a href="#">dolor</a> <a href="#">ipsum</a> <a href="#">lorem</a> <a href="#">sit amet</a></p>
	</div>	
      </div>
      <!-- end content -->
      <!-- start sidebar one -->
      <div id="sidebar1" class="sidebar">
	<ul>
	  <li id="recent-posts">
	    <h2>指数</h2>
	    <ul>
	      <li>
		<h3><a href="#">蔬菜指数</a></h3>
		<p>Nullam ante orci, eget, tempus quis, ultrices in, est. Curabitur sit amet nulla in massa lacusurna. </p>
	      </li>
	      <li>
		<h3><a href="#">猪粮比</a></h3>
		<p>Donec leonulla amit vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.  </p>
	      </li>
	      <li>
		<h3><a href="#">猪肉指数</a></h3>
		<p>Donec vivamus fermentum nibh in augue lacus at urna congue rutrum. </p>
	      </li>
	      <li>
		<h3><a href="#">化肥指数 </a></h3>
		<p>Donec vivamus fermentum nibh in augue. Praesent a lacus at urna congue rutrum. </p>
	      </li>
	      <li>
		<h3><a href="#">食用油指数</a></h3>
		<p>Donec vivamus fermentum nibh in augue. Praesent a lacus at urna congue rutrum. </p>
	      </li>
	    </ul>
	  </li>
	  <li></li>
	</ul>
      </div>
      <!-- end sidebar one -->
      <!-- start sidebar two -->
      <div id="sidebar2" class="sidebar">
	<ul>
	  <li>
	    <h2>Categories</h2>
	    <ul>
	      <li><a href="#">Aliquam libero</a></li>
	      <li><a href="#">Consectetuer elit</a></li>
	      <li><a href="#">Metus pellentesque</a></li>
	      <li><a href="#">Suspendisse mauris</a></li>
	      <li><a href="#">Urnanet molestie semper</a></li>
	      <li><a href="#">Proin orci porttitor</a></li>
	    </ul>
	  </li>
	  <li>
	    <h2>Archives</h2>
	    <ul>
	      <li><a href="#">September</a> (23)</li>
	      <li><a href="#">August</a> (31)</li>
	      <li><a href="#">July</a> (31)</li>
	      <li><a href="#">June</a> (30)</li>
	      <li><a href="#">May</a> (31)</li>
	    </ul>
	  </li>
	  <li>
	    <h2>Lorem ipsum dolor </h2>
	    <ul>
	      <li><a href="#">Aliquam libero</a></li>
	      <li><a href="#">Consectetuer elit</a></li>
	      <li><a href="#">Metus pellentesque</a></li>
	      <li><a href="#">Urnanet molestie semper</a></li>
	      <li><a href="#">Proin orci porttitor</a></li>
	    </ul>
	  </li>
	  <li>
	    <h2>Lorem ipsum dolor </h2>
	    <ul>
	      <li><a href="#">Consectetuer elit</a></li>
	      <li><a href="#">Metus pellentesque</a></li>
	      <li><a href="#">Suspendisse mauris</a></li>
	    </ul>
	  </li>
	</ul>
      </div>
      <!-- end sidebar two -->
      <div style="clear: both;">&nbsp;</div>
    </div>
    <!-- end page -->
    <hr />
    <!-- start footer -->
    <div id="footer">
      <p>&copy; 2007 All Rights Reserved &nbsp;&bull;&nbsp; Designed by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a></p>
    </div>
    <!-- end footer -->
    <div align=center>This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a></div></body>
</html>
