<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Swanky by Free CSS Templates</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="style.css" rel="stylesheet" type="text/css" media="screen" />
  </head>
  <body>
    <!-- start header -->
    <div id="header">
      <div id="menu">
	<ul>
	  <li class="current_page_item"><a href="#">首页</a></li>
	  <li><a href="#">价格</a></li>
	  <li><a href="#">蔬菜</a></li>
	  <li><a href="#">水果</a></li>
	  <li><a href="#">禽肉</a></li>
	  <li><a href="#">水产</a></li>
	  <li class="last"><a href="#">联系我们</a></li>
	</ul>
      </div>
    </div>
    <div id="logo">
      <h1><a href="#">农产品资讯网</a></h1>
      <h2> Design by pengke</h2>
    </div>
    <!-- end header -->
    <hr />
    <!-- start page -->
    <div id="page">
      asfasf
      <%= yield %>
    </div>
    <!-- end page -->
    <hr />
    <!-- start footer -->
    <div id="footer">
      <p>&copy; 2007 All Rights Reserved &nbsp;&bull;&nbsp; Designed by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a></p>
    </div>
    <!-- end footer -->
    <div align=center>This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a></div></body>
</html>
